{% extends 'profile.html'%}
{% block body %}
<div class="edit">
<form method="POST">

<label>Expense</label>
<input type="text" name="expense" value="{{ expense.name }}">

<label>Amount</label>
<input type="text" name="amount" value="{{ expense.amount }}">

<button type="submit" class="btn btn-success">Save</button>
<button type="submit" class="btn btn-danger">Delete</div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, messag in messages%}
      <div class="alert alert-{{ category }}">
        {{ messag }}
      </div>
      {%endfor%}
  {% endif %}
{% endwith %}

</form>
</div>

{% endblock %}