  {% extends 'profile.html' %}
  {% block body %}
  <div class="Big">
    <div class="expense">
      <form method="POST">  
        <div class="form-group">
          <label for="expenseInput">Enter Expense</label>
          <input type="text" name="expense" class="form-control" id="expenseInput">
        </div>
      
      

        <div class="form-group">
          <label for="amountInput">₹ Amount</label>
          <input type="text" name="amount" class="form-control" id="amountInput">
        </div>
        <button type="submit" class="btn btn-primary">Add Expense</button>
      </form>
      <form action="{{url_for('budget')}}" method="POST">  
      <div class="form-group">
          <label for="budget">₹ Set budget</label>
          <input type="text" name="budget" class="form-control" id="budget">
        </div>
        <button href={{url_for('budget')}}type="submit" class="btn btn-primary">Set Budget</button>
        </form>
    </div>
  </div>
  <div>Total Budget{{total}}</div>
  <div>Remaining Budget-{{budget}}</div>
  
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="container mt-4">
    <table class="table mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Expense</th>
          <th>Amount</th>
          <th>Date & Time</th>
        </tr>
      </thead>
      
      {%if expenses %}
      <tbody>
        {% for expense in expenses %}
        
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ expense.name }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{expense.date_time}}</td>
          <td><a href="{{url_for('edit',id=expense.id)}}" class= "btn btn-warning btn-sm"  name="">Edit</a>
          <td><a href="{{url_for('delete',id=expense.id)}}" class="btn btn-danger btn-sm" name="Delete">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
        {% else %}
        <p>No Expense is added</p>
      {% endif %}
    </table>
  </div>
  </div>
  {% endblock body %}
