  {% extends 'profile.html' %}
  {% block body %}
  <div class="Big">

  <!-- Expense Form -->
  <div class="expense">
    <form method="POST">
      <div class="form-group">
        <label>Enter Expense</label>
        <input type="text" name="expense" class="form-control">

        <label>₹ Amount</label>
        <input type="text" name="amount" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Add Expense</button>
    </form>
  </div>

  <!-- Budget Form -->
  <div class="expense">
    <form action="{{url_for('budget')}}" method="POST">
      <div class="form-group budget-row">
        <input type="text" name="budget" class="form-control budget-input" placeholder="₹ Set Budget">
        <button type="submit" class="btn btn-primary">Set Budget</button>
      </div>
    </form>

    <br>
    <b>Total Budget:</b> {{user_budget}}

    {% if remaining < 0 %}
      <div class="out-budget">Remaining Budget = {{remaining}}</div>
    {% else %}
      <div class="in-budget">Remaining Budget = {{remaining}}</div>
    {% endif %}
  </div>

</div>

  
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="expense-list">
  <div class="container mt-4">
    <table class="table mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Expense</th>
          <th>Amount</th>
          <th>Date & Time</th>
        </tr>
      </thead>
      
      {%if expenses %}
      <tbody>
        {% for expense in expenses %}
        
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ expense.name }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{expense.date_time}}</td>
          <td><a href="{{url_for('edit',id=expense.id)}}" class= "btn btn-warning btn-sm"  name="">Edit</a>
          <td><a href="{{url_for('delete',id=expense.id)}}" class="btn btn-danger btn-sm" name="Delete">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
        {% else %}
        <p>No Expense is added</p>
      {% endif %}
    </table>
  </div>
  </div>
</div>
  {% endblock body %}
